body  {
  background-color: #FFFFFF;
  color: #000000;
  margin :0;

}
section {
  max-width: 46em;
  margin : 0 auto;
}

header {
  background-color:#000000;
  color : #FFFFFF;
  padding : 0,5em;
  position: relative;
  border-width:2px;
  border-color:black;
}

hheader::after{
  content: " ";
  display: block;
  width : 60px;
  height : 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: #050505;

}

.nastyadvert {
  background-image: url(toiletpaper_9.jpg);
  min-height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.nastyadvert h1 {
  font-size: 6em;
  font-family: 'Anton', sans-serif;
  color : black;
  text-align: center;

}

.nastyadvert .container {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translateY(-50%) translateX(-50%);
}
