body  {
  background-color: #FFFFFF;
  color: #000000;
  margin :0;

}
section {
  max-width: 200em;
  margin : 0 auto;
}

ul {
  text-decoration: none;
  color: black;
}

header {
  background-color:#000000;
  color : #FFFFFF;
  padding : 0,5em;
  border-width:10px;
  border-color:black;
  min-height: 100vh;
  opacity: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texte h3 {
  margin-left: 20%;
  margin-right: 20%;
}


.nastyadvert {
  background-image: url(piiscine.jpg);
  min-height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.nastyadvert h1 {
  font-size: 6em;
  font-family: 'Anton', sans-serif;
  color : black;
  text-align: center;
  position: absolute;
  bottom: 40px;

}

p {
    margin-bottom: 4em;
  font-family: font-family:'roboto', sans-serif;
  text-align: justify;
    }

}

.nastyadvert .container {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translateY(-50%) translateX(-50%);
}

footer{
  background-color: #000000;
  color : #dddddd;
  padding : 2em;
  display: block;
}

.linklist {
  list-style-type: none;
}

.linklist li {
  margin: 5em;
}

.linklist a {
  color: #fff;
}

.mywork ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}


.mywork li {
  width: 40%;
  margin: 1em;
  line-height: 4;
  list-style-type:none;

}

.mywork img {
  width : 50%;
  margin: 2px;
}

#menu a{
  text-decoration: none;
  color: black;
}

#menu {
  line-height: 5;
  text-decoration: none;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    padding: 0.7rem 1rem;
    color: #000000;
    list-style-type: none;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 auto;

}
